{% set module = getModule() -%}
{% set categories = getCategoriesByModule(module, content.limit, 'featured') -%}


{% if categories.featured %}
    {% set all = module ~ '_allcategories' -%}
    {% set activeItemsNameField = categories.activeItemsNameField -%}

    <div class="container well well-light">

        <h2 class="theme-title" data-trans="{{ 'Browse by category '|trans({}, 'widgets') }}">{{ content.labelBrowseByCat|trans({}, 'widgets') }} <span class="pull-right view-more"><a href=" {{ url(all) }} " data-trans="{{ 'more categories'|trans({}, 'widgets') }}">{{ content.labelMoreCat|trans({}, 'widgets') }}</a></span></h2>

        <div class="row break-sm">
            <div class="flex flex-container">
                {% for category in categories.featured -%}
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="flex-unit theme-box theme-box-featured">
                            {% if category.thumbnail -%}
                                <a href="{{ utility_generateSearchUrl(null, [module], category.friendlyUrl) }}">
                                    <img class="img-responsive" src="{{ asset(category.thumbnail, 'domain_images') | imagine_filter('small') }}" alt="{{ category.title }}">
                                </a>
                            {% else -%}
                                <a href="{{ utility_generateSearchUrl(null, [module], category.friendlyUrl) }}" title="{{ category.title }}">
                                    {{ utility_getNoImage(category.title) }}
                                </a>
                            {% endif -%}
                            <div class="theme-box-content theme-box-content-full">
                                <h5 class="text-center">
                                    <a href="{{ utility_generateSearchUrl(null, [module], category.friendlyUrl) }}">{{ category.title }} ({{ category.count }})</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor -%}
            </div>
        </div>

    </div>
{% endif %}
