<section class="top-search">
    <h6 class="sr-only">{{ "Search"|trans }} </h6>

    {{ include("::blocks/background-image.html.twig") }}

    <div class="well well-translucid">
        <div class="container">
            <div id="search-responsive" class="search-collapse collapse">
                <div class="well well-translucid form-inline text-center">
                    {{ addJSTwigParameter("searchBoxModule", module) }}
                    {% if dateFilter.calendarSearch %}
                        {{ include("::blocks/search/search-fields-date.html.twig", { 'dateFilter' : dateFilter }) }}
                    {% else %}
                        {{ include("::blocks/search/search-fields.html.twig") }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
