{# use it to shows address -#}
{% import "::blocks/utility/summary.html.twig" as Utility -%}
{% import "::blocks/utility/detail.html.twig" as UtilityDetail -%}

<div class="container well well-light">

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <!-- Detail Begin -->
            <article class="detail">
                <h1>{{ item.title }}</h1>

                <ul class="breadcrumb">
                    {% for category in categories if 'y' == category.enabled -%}
                        {% if isSample -%}
                            {% set link = 'javascript:void(0);' -%}
                        {% else -%}
                            {% set link = utility_generateSearchUrl(null, "classified", category.friendlyUrl) -%}
                        {% endif -%}
                        <li>
                            <a href="{{ link }}">
                                <span>{{ category.title }}</span>
                            </a>
                        </li>
                    {% endfor -%}
                </ul>

                {% include "::blocks/sociallikes.html.twig" -%}
                <div class="clearfix"></div>
                <hr>

                <!-- Descriptions and Images -->
                <section id="overview">
                    <!-- If there is a Main Image and NO cover image -->
                    {% if gallery is not empty and 'y' == gallery[0].imageDefault and item.coverImage.id == 0 -%}
                        {% if isSample -%}
                            {% set url = gallery[0].image.url -%}
                            {% set url_filtered = url -%}
                        {% else -%}
                            {% set url = asset(imagePath(gallery[0].image), 'domain_images') -%}
                            {% set url_filtered = url | imagine_filter('main_image') -%}
                        {% endif -%}
                        <div class="main-image">
                            <a href="{{ url }}"
                               class="image-link" title="{{ gallery[0].imageCaption }}">
                                <img src="{{ url_filtered }}"
                                     alt="{{ gallery[0].imageCaption }}"
                                     class="img-responsive center-block"></a>
                        </div>
                    {% endif -%}

                    {% if level.hasLongDescription and item.detaildesc -%}
                        <h3>{{ 'About'|trans }}</h3>
                        <p class="pre-line">{{ item.detaildesc }}</p>
                    {% endif -%}

                    {% if gallery is not empty -%}
                        <div class="image-gallery">
                            <div class="row text-center-sm">
                                {% if 'y' == gallery[0].imageDefault and item.coverImage.id != 0 -%}
                                    {% if isSample -%}
                                        {% set url = gallery[0].image.url -%}
                                        {% set url_filtered = url -%}
                                    {% else -%}
                                        {% set url = asset(imagePath(gallery[0].image), 'domain_images') -%}
                                        {% set url_filtered = url | imagine_filter('small') -%}
                                    {% endif -%}
                                    <div class="col-md-3 col-sm-6">
                                        <a href="{{ url }}"
                                           class="image-link" title="{{ gallery[0].imageCaption }}">
                                            <img src="{{ url_filtered }}"
                                                 alt="{{ gallery[0].imageCaption }}"
                                                 class="img-responsive center-block">
                                        </a>
                                    </div>
                                {% endif -%}
                                {% for photo in gallery if 'n' == photo.imageDefault -%}
                                    {% if isSample -%}
                                        {% set url = photo.image.url -%}
                                        {% set url_filtered = url -%}
                                    {% else -%}
                                        {% set url = asset(imagePath(photo.image), 'domain_images') -%}
                                        {% set url_filtered = url | imagine_filter('small') -%}
                                    {% endif -%}
                                    <div class="col-md-3 col-sm-6">
                                        <a href="{{ url }}"
                                           class="image-link" title="{{ photo.imageCaption }}">
                                            <img src="{{ url_filtered }}"
                                                 alt="{{ photo.imageCaption }}"
                                                 class="img-responsive center-block">
                                        </a>
                                    </div>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endif -%}

                    {% if level.hasVideo and item.videoSnippet -%}
                        <div class="video-snipped">
                            {% if item.videoDescription -%}
                                <h3>{{ item.videoDescription }}</h3>
                            {% endif -%}
                            <div class="embed-responsive embed-responsive-16by9">
                                {% if isSample -%}
                                    <img src="{{ asset("assets/images/preview-video.png") }}">
                                {% else -%}
                                    {{ item.videoSnippet|raw }}
                                {% endif -%}
                            </div>
                        </div>
                    {% endif -%}

                </section>

                {% if
                (level.hasContactName and item.contactName) or
                (level.hasContactPhone and item.phone) or
                (level.hasFax and item.fax) or
                (level.hasURL and item.url) or
                (level.hasAdditionalFiles and item.attachmentFile)
                -%}
                    <section id="contact">
                        <div class="row">
                            <div class="col-sm-2">
                                <h4>{{ 'Contact'|trans }}</h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="contactinfo-detail">
                                    {% if level.hasContactName and item.contactName -%}
                                        <p>
                                            {{ item.contactName }}
                                        </p>
                                    {% endif -%}

                                    {% if level.hasContactPhone and item.phone -%}
                                        <p>
                                            {{ 'Phone'|trans }}:
                                            {% spaceless %}
                                                <a href="tel:{{ item.phone|spaceless }}" class="text-primary">{{ item.phone }}</a>
                                            {% endspaceless %}
                                        </p>
                                    {% endif -%}

                                    {% if level.hasFax and item.fax -%}
                                        <p>
                                            {{ 'Fax'|trans }}: {{ item.fax }}
                                        </p>
                                    {% endif -%}

                                    {% if level.hasURL and item.url -%}
                                        <p>
                                            {{ 'Website'|trans }}: <a target="_blank" href="{{ item.url }}"
                                                                      rel="nofollow">{{ item.url }}</a>
                                        </p>
                                    {% endif -%}

                                    {% if level.hasAdditionalFiles and item.attachmentFile is not empty -%}
                                        {% if isSample -%}
                                            {% set link = 'javascript:void(0);' -%}
                                        {% else -%}
                                            {% set link = asset(item.attachmentFile, 'domain_extrafiles') -%}
                                        {% endif -%}

                                        <p>
                                            <a href="{{ link }}"
                                               rel="nofollow" class="claim-option"
                                               title="{{ item.attachmentCaption }}" target="_blank">
                                                {{ item.attachmentCaption ? item.attachmentCaption : 'Click here to see more info!'|trans }}
                                            </a>
                                        </p>
                                    {% endif -%}


                                </div>
                            </div>
                        </div>
                    </section>
                {% endif -%}

                {% if item.listing is not empty and item.listing.status == 'A' %}
                    <section id="classifieds">
                        <div class="row">
                            <div class="col-sm-2">
                                <h4>{{ 'Listing'|trans }}</h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% include '::/blocks/themebox/vertical.html.twig' with {item: item.listing, module: 'listing', isSample: isSample} -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}

            </article>
        </div>

        <div class="col-md-4 col-sm-12">

            <div class="details-sidebar">
                {# Classified Information -#}
                <div class="well">

                    {% if level.hasClassifiedPrice and item.classifiedPrice %}
                        <div class="info">
                            <small>{{ 'Price'|trans }}</small>
                            {{ item.classifiedPrice|localized_currency }}
                        </div>
                        <hr>
                    {% endif %}

                    {{ bookmarkButton(item, 'classified') }}

                    <br>
                    {% if level.hasContactEmail and item.email is not empty -%}
                        {% if isSample -%}
                            <a rel="nofollow" class="btn btn-primary btn-social"
                               href="javascript:void(0);">
                                {{ 'Send e-mail'|trans }}
                            </a>
                        {% else -%}
                            <a class="btn btn-primary btn-social sendEmailButton" data-action="{{ path('classified_sendmail',{id: item.id}) }}" title="{{ 'Send e-mail'|trans }}">
                                {{ 'Send e-mail'|trans }}
                            </a>
                        {% endif -%}
                    {% endif -%}
                </div>

                <div class="well">
                    <div class="info">
                        <small>{{ 'Where'|trans }}</small>

                        <div class="row">
                            {{ item.location }}
                            {{ Utility.address( null, null, item.address, item.address2, item.zipCode, locationsIDs, locationsObjs) }}
                        </div>
                    </div>
                </div>

                {% if map is not null -%}
                    <div class="map">
                        {{ google_map(map) }}
                    </div>
                {% endif -%}

                {% import "::blocks/utility/banners.html.twig" as banners %}
                {{ banners.detail("classified", bannerCategories) }}
            </div>

        </div>

    </div>
</div>

{% if not isSample -%}
    {% include '::blocks/modals/modal-bootstrap-template.html.twig' with {id: 'modalLogin'} -%}
    {{ addJSFile("assets/js/utility/modal.js") }}
    {{ addJSFile("assets/js/modal/send.email.js") }}
{% endif -%}

{# Adding requirements -#}
{{ addJSFile('assets/js/lib/jquery.magnific-popup.min.js') }}
{{ addJSTwig("::js/detailpopup.js.twig") }}
