<footer class="footer-static-bottom footer-with-newsletter">
    
    <ul class="footer-social-links">
        {{ contactUs(false) }}
    </ul>

    <div class="footer-links">
        <div class="container">
            <div class="row">
                {{ contactUs(true, content,"-newsletter") }}
                {{ navigationFooter(content) }}

                {% set newsletter = getSetting('arcamailer_enable_list') -%}
                {% if newsletter -%}
                    {{ addJSFile("assets/js/newsletter/newsletter.js") -}}

                    <div class="col-sm-5 col-xs-12">
                        {# Newsletter Begin -#}
                        <div id="formNewsletter" class="newsletter">
                            <div class="newsletter-box">
                                <h5
                                    data-trans="{{ 'Sign up for our newsletter'|trans({}, 'widgets') }}">{{ content.datainfoSignupFor|trans({}, 'widgets') }}
                                </h5>
                                <p data-trans="{{ 'Sign up for our monthly newsletter. No spams, just product updates.'|trans({}, 'widgets') }}">{{ content.datainfoNewsletterDesc|trans({}, 'widgets') }}</p>

                                <form class="form-inline">
                                    <div class="row">
                                        <span class="showmessage col-md-10 col-md-offset-1 hidden">
                                            <span class="alert alert-success" role="alert">
                                                <i class="fa fa-check"></i>
                                                {{ 'Check your e-mail to complete your subscription.'|trans }}
                                            </span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                                           placeholder="{{ 'Name'|trans }}" name="name" id="newsname">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                                           placeholder="{{ 'E-mail'|trans }}"
                                                           name="email" id="newsemail">
                                    </div>
                                    <button data-loading-text="{{ 'Please, wait...'|trans }}"
                                            class="btn btn-success action-save">{{ "Sign Up"|trans }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {{ copyright(content) }}
</footer>
