<footer class="footer-static-bottom">
    <div style="padding:40px 0; background: url(/assets/images/bg-downloadapps.png) no-repeat center bottom; ">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 text-right text-center-sm">
                    <br>
                    <a href="{{ content.linkPlayStore }}" target="{{ content.checkboxOpenWindow }}" style="font-size:20px; font-weight:300; line-height:1;"
                    data-trans="{{ 'Available on the Play Store'|trans({}, 'widgets') }}">{{ content.labelAvailablePlayStore|trans({}, 'widgets') }}</a>
                </div>
                <div class="col-sm-8">
                    <br>
                    <p class="text-uppercase text-center" style="font-size:24px; font-weight:300;"
                    data-trans="{{ 'Download our App'|trans({}, 'widgets') }}">{{ content.labelDownloadOurApp|trans({}, 'widgets') }}</p>
                </div>
                <div class="col-sm-2 text-left text-center-sm">
                    <br>
                    <a href="{{ content.linkAppleStore }}" target="{{ content.checkboxOpenWindow }}" style="font-size:20px; font-weight:300; line-height:1;"
                    data-trans="{{ 'Available on the Apple Store'|trans({}, 'widgets') }}">{{ content.labelAvailableAppleStore|trans({}, 'widgets') }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
