{% extends "::widgets/slider/slider.html.twig" %}

{% block searchbox %}
    {# Main Search -#}
    <div class="search-header" id="mainSearch">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="hero-text">
                        <h1 data-trans="{{ 'Start your search here'|trans({}, 'widgets') }}">{{ content.labelStartYourSearch|trans({}, 'widgets') }}</h1>
                        <p data-trans="{{ 'What are you looking for?'|trans({}, 'widgets') }}">{{ content.labelWhatLookingFor|trans({}, 'widgets') }}</p>
                    </div>

                    <div class="well well-translucid form-inline text-center">
                        {{ include("::blocks/search/search-fields.html.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
